body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header,
.hero {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    width: 100%;
}

.container {
    width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 24px 0px;
    font-size: 24px;
    font-weight: 900;
}

.nav {
    list-style: none;
    display: flex;
    gap: 16px;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px 20px;
    gap: 3rem;
}

.hero-content {
    min-width: 300px;
    padding: 64px 0px;
    flex: 0 1 40%;
}

.btn-main {
    background-color: #3882F6;
    border-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #f9faf8;
    margin: 12px 0px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 30px 20px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.card {
    flex: 0 1 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.card-img {
    width: 160px;
    aspect-ratio: 1 /1;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.card-text {
    color: #68717d;
    text-align: center;
}