body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    width: 100%;
}

.header .container {
    width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 24px 0px;
    font-size: 24px;
    font-weight: 900;
}

.nav {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.nav a {
    text-decoration: none;
    color: #f9faf8;
}